<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/index">Online Cinema Tickets</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav me-auto">
                    <a class="nav-item nav-link" href="/index">Главная</a>
                    <a class="nav-item nav-link" th:href="@{/halls}">Расписание</a>
                    <a class="nav-item nav-link" th:href="@{/films}">Кинотека</a>
                </div>
                <div class="navbar-nav me-auto" th:if="${user == null || user.fullName == 'Гость' || user.id == 0}">
                    <a class="nav-item nav-link" th:href="@{/users/register}">Регистрация</a>
                    <a class="nav-item nav-link" th:href="@{/users/login}">Войти</a>
                </div>
                <div class="navbar-nav me-auto" th:if="${user != null && user.fullName != 'Гость' && user.id != 0}">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${user.fullName}"></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Личные данные</a></li>
                            <li><a class="dropdown-item" th:href="@{/tickets/users/{userId}(userId=${user.id})}">Список билетов</a></li>
                        </ul>
                    </li>
                    <a class="nav-item nav-link" th:href="@{/users/logout}">Выйти</a>
                </div>
            </div>
        </div>
    </nav>
</div>